.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul{
  text-align:center;
  
  font-size:14px;
  color:#333;

  
  padding-top: 4vh;
  padding-right: 5vh;

}
li{
  display: inline;
  padding: 3vh;
  padding-top: 2vh;
}
.main-container {
  position: relative;
    position: relative;
    overflow: hidden;
    -ms-flex-direction: column;
    flex-direction: column;

}

.large-container {
  position: relative;
  overflow: hidden;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: inherit;
  padding-top: 3.125rem;

}


.bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-heading{
    font-weight: 700;
    font-size: 0.9375rem;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
    color: #7ee6c6;
    padding-top:2vh;

}

.text-title {
  padding-right: 2.5rem;
  padding-bottom: 0;
  font-size: 45px;
  padding-top:1vh;
  color:honeydew;
}
.text-content{
  padding-right: 2.5rem;
  padding-bottom: 0;
  font-size: 21px;
  padding-top:5vh;
  color:honeydew;
}
.text-media {
  margin-top: 0;
  flex: 2;
  box-sizing: inherit;
}
.button{
  padding-top:5vh;
  margin: inherit;
  color:deeppink;
}
.three-up-container {
  display: block;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}
.three-up-container-header {
  margin-bottom: 3rem;
  width: calc(100% - 3.125rem);
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}
.headline{
font-size: 2.125rem;
    font-weight: 700;
    color: #282561;
    text-align: center;
    margin-bottom: 0;
}
.three-up-container-highlight-items {
  width: calc(100% - 3.125rem);
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  
  
  
  
  display: -ms-flexbox;
  display: flex;
}
.field_item{
  box-sizing: inherit;

}
.field_item_heading{
  font-size: 30px;
  color: #A52A2A;
  padding-left: 3vh;

}
.three-up-container-highlight-items {
  width: calc(100% - 3.125rem);
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  
  
  display: -ms-flexbox;
  display: flex;
}
.field-name-field-icon {
  margin-top: 0.875rem;
  font-size: 18px;
  font-weight:bold;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: #dc2870;
  text-align: left;
  padding-left:1vh;
  margin-left: 2vh;
  
}
.field-name-field-headline {
  margin-top: 0.875rem;
  font-size: 18px;
  font-weight:bold;
  letter-spacing: 0.0625rem;
  
  color: #dc2870;
  text-align: left;
  
}


.field-name-field-content {
  margin-top: 0.875rem;
  font-size: 15px;
  padding:1vh;
  color: #333;
  font-style: normal;
  font-weight:normal;
}
.highlight-items-item-4 {

  flex-grow: 0;
  
  flex-shrink: 1;
  
  flex-basis: calc(23.5% - 1.40625rem);
  padding-right: 0;
    margin-bottom: 0;
}
.clarity-icon {
  color: #0a204f;
  box-sizing: inherit;
}
.clr-icon {
  height: 1.875rem;
  width: 1.875rem;
  display: inline-block;
    margin: 0;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    fill: currentColor;

}


svg:not(:root) {
  overflow: hidden;
}
.text-media {
  width: calc(100% - 3.125rem);
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
.text-media-container {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: flex;
    
    align-items: center;
}
.text-media-container-text {
  
  flex: 0 1 31.25rem;
  margin-right: 2.8125rem;
}
.field-name-headline {
  font-size: 29px;
  color: #282561;
  font-family: "Roboto";
  text-align: left;
  text-transform: none;
  padding-left: 3vh;
  font-weight: normal;
}
.content{
    font-size: 17px;
    font-weight: bold;
    
    font-family: "Roboto";
    padding-left: 10vh;
    padding-top: 2vh;
}
.li {
  font-size: 0.9375rem;
  line-height: 1.7;
  text-align: -webkit-match-parent;
}
ul {
  list-style-type: disc;
}
.item-content{
  font-size: 12px;
  font-weight: normal;
  font-family: inherit;
  
}
.field-name-field-text{
  margin-top: 1.5rem;
    font-size: 20px;
    font-weight: 400;
    padding-left: 3vh;
    color: #207c88;

}